@import 'variables';

body {

    // Menyknapp
    .menu-button {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 10px;
        right: 10px;
        width: 70px;
        height: 35px;
        background-color: transparent;
        border: none;
        z-index: 2;
        cursor: pointer;

        span {
            display: block;
            width: 100%;
            height: 4px;
            background-color: $dbg-text-color-highlight;
            border-radius: 5px;
        }
    }

    // Header
    header {
        background-color: $dbg-background-color;
        color: $dbg-text-color-highlight;
        position: relative;
        height: $header-height;
        width: 100%;
        // border: 2px blue solid;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // transition: margin-top .3s ease-in-out;

        .logo {
            position: relative;
            height: $logo-circle-radius;
            width: $logo-circle-radius;
            font-size: calc($logo-circle-radius / 2);
            border: 2px $dbg-text-color-highlight solid;
            border-radius: 50%;

            p {
                position: relative;
                left: .45em;
                display: block;
                font-size: 1em;
                margin: 0;

                &:last-child {
                    bottom: .8em;
                    left: .75em;
                }
            }
        }

        nav {
            background-color: $dbg-background-color;
            position: fixed;
            display: block;
            visibility: hidden;
            top: -155px;
            right: 0;
            height: 155px;
            width: 100vw;
            text-align: center;
            z-index: 1;
            transition: top .3s ease-in-out;

            ul {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 10px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: grey;
                    }
                }
            }
        }
    }

    main {

        & > * {
            padding: $base-padding;
        }
        min-height: 100%;
        background-color: $dbg-background-color;

        .start {
            height: calc(100vh - $header-height);
            width: 100%;
            padding: $base-padding;
            background-color: $lbg-background-color;
            color: $lbg-text-color;
            display: flex;
            justify-content: center;
            align-items: center;

            .name-presentation {
                position: relative;
                right: 5%;
                
                h2 {
                    margin: 0;

                    &:last-child {
                        position: relative;
                        left: 40px;
                        font-size: 1.7rem;
                        background-color: $dbg-background-color;
                        color: $lbg-background-color;
                        margin-top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }


        .about-me {
            background-color: $dbg-background-color;
            color: $dbg-text-color;
            // min-height: 100vh;
            // border: 2px red solid;
            p {
                a {
                    text-decoration: none;
                    color: $dbg-text-color-highlight;
                }
            }

            section {
                display: flex;
                flex-direction: column;

                .link-images {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 25%;
                    margin-right: 25%;
                    text-align: center;
                    padding: 0;

                    li {
                        list-style: none;

                        a {
                            i {
                                font-size: 2rem;
                                color: $dbg-text-color-highlight;
                            }
                        }
                    }

                }
            }
            figure {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 1);
                }
            }
        }

        .projects {
            background-color: $lbg-background-color;
            color: $lbg-text-color;
            display: grid;
            justify-content: center;
            grid-template-columns: .9fr;
            grid-template-rows: .1fr 1fr 1fr;
            gap: 20px;
            // border: 2px blue solid;

            h2 {
                color: $lbg-headline-color;
            }

            section {

                // border: 2px yellow solid;
                h3 {
                    text-align: center;
                }
            }
        }

        .get-in-touch {
            background-color: $dbg-background-color;
            color: $dbg-text-color;
            form {
                fieldset {
                    display: grid;
                    gap: 10px;

                    input {
                        margin-bottom: 10px;
                        width: 50%;
                        border-radius: 5px;
                    }

                    textarea {
                        width: 90%;
                        height: 100px;
                        border-radius: 5px;
                        resize: none;
                        margin-bottom: 10px;
                    }

                }
                button {
                    background-color: transparent;
                    border: 1px $dbg-text-color-highlight solid;
                    color: $dbg-text-color-highlight;
                    height: 35px;
                    width: 80px;
                    padding: 3px;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 2px grey solid;

        address {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

    }
}