$base-padding: 10px;

// Measures
$header-height: 150px;
$footer-height: 50px;

// Logo 
$logo-circle-radius-mobile: 7rem;
$logo-circle-radius-tablet: 10rem;


// Colors

$a-color: #AB9850;
$b-color: #F7D968;
$c-color: #A45CF7;
$d-color: #58AB2E;
$e-color: #87F74F;

// Dark background
$dbg-background-color: rgb(10, 19, 35);
$dbg-text-color-highlight: rgb(89, 255, 209);
$dbg-headline-color: rgb(193, 203, 244);
$dbg-text-color: rgb(117, 127, 160);

// Light background
$lbg-background-color: rgb(247, 247, 247);
$lbg-headline-color: rgb(55, 18, 202);
$lbg-text-color: rgb(46, 10, 76);