$base-padding: 10px;

// Colors

$a-color: #AB9850;
$b-color: #F7D968;
$c-color: #A45CF7;
$d-color: #58AB2E;
$e-color: #87F74F;

$background-color: rgb(10, 19, 35);
$text-color-highlight: rgb(89, 255, 209);
$headline-color: rgb(193, 203, 244);
$text-color: rgb(117, 127, 160);

$light-background-color: rgb(247, 247, 247);
$light-background-text: rgb(46, 10, 76);
$light-background-headline: rgb(55, 18, 202);