#projects {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, fit-content);
    gap: 20%;

    section {
        h3 {
            text-align: center;
        }
    }
}

